# Rules
Roll the dice.
The number the player gets is the number of steps they have to take.
If a player lands on the bottom of a ladder, they have to climb it.
If a player lands on the top of a snake, they have to go down it.
The winner is the first person to get to the last square.
Each player can roll the dice once every turn.





lol what am i doing with my life
